<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>BiosBuddy</title>
</head>
<body>
      <header>
    <h1>BiosBuddy</h1>
       <nav>
           <ul>
                <li><a href="films">Films</a></li>
                <li><a href="mijnprofiel">Mijn profiel</a></li>
                <li><a href="/">Uitloggen</a></li>
           </ul>
       </nav>
   </header>
   <section class="curtain">
   <div class="halfCircleBottom"></div>
   <div class="halfCircleBottom"></div>
   <div class="halfCircleBottom"></div>
   <div class="halfCircleBottom"></div>
   <div class="halfCircleBottom"></div>
   <div class="halfCircleBottom"></div>
   <div class="halfCircleBottom"></div>
   <div class="halfCircleBottom"></div>
   <div class="halfCircleBottom"></div>
   <div class="halfCircleBottom"></div>
   </section>
   
   <main>
     <section class="card">
         <article>
         <h2><%= data.voornaam %></h2>
            <p><img src="images/<%= data.profielfoto %>" class="profielfoto"></p>
             <p><%= data.leeftijd %> jaar oud</p>
             <p>Favoriete filmquote: <i><%= data.quote %></i></p>
         <article class="matchbuttons">
     <button><a href="mailto:<%= data.email %>">Plan een afspraak!</a></button>
         </article>
         </article>
     </section>
   </main>
    
</body>
</html>